<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<center>
    <div id="app">

        <div :style="verticalMenu">
                <a href="#" :class="active">Home</a>
                <a :href="routeUpper">{{ upperCasePage }}</a>
                <a :href="routeReverse">{{ reversePage }}</a>
                </div> 

        <h1>VueJs</h1>

        <template v-if="image">
            <img :src="vueImg" width="300px">
        </template>

        <div v-show="change">
            <button v-on:clicK="btnChangeImage">Change Vue Image</button>
        </div>

    </div>
</center>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        let app = new Vue({
            el: '#app',
            data: {
                change: true,
                routeUpper: "file:///home/json/Git/school-vuejs/views/upperCase.html",
                routeReverse: "file:///home/json/Git/school-vuejs/views/reverse.html",
                upperCasePage: 'Upper and Lower Page', 
                reversePage: 'Reverse Page',
                image: true,
                vueImg: 'vue.png',
                verticalMenu: {
                    fontSize: '35px',
                    color: 'red',
                    
                },
                active: {
                    backgroundColor: '#4CAF50',
                    color: 'white'
                }
            },
            methods: {
                btnChangeImage: function () {

                    this.vueImg = "vue2.png";

                }
            }
        })   
    </script>
</body>
</html>