<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Button Count</title>
</head>
<body>
    
    <div id="componentCount">
        <buttonCounter></buttonCounter>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    
        Vue.component('buttonCounter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button @click="count++">Clicked out {{ count }} times.</button>'
        })

        new Vue({
            el: '#componentCount'
        })
        
    </script>
</body>
</html>