<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
    <title>Componentes</title>
</head>
<body>
    
    <div id="app">

        <form v-on:submit.prevent="submit">
            <h2>Choose</h2>
            <template v-for="curso in cursos">

                <curso :curso="curso" @checked="selectCurso"></curso>

            </template>
            <button class="fab" type="submit">Send</button>
        </form>

        <i class="far fa-user"></i>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        Vue.component('curso', {
            props: ['curso'],
            methods: {
                onChange: function (ev) {
                    this.$emit('checked', this.curso.value, ev.target.checked)
                }
            },
            template: `
                <div>
                    <input type="checkbox" 
                        v-bind:value="curso.value" v-bind:id="curso.value" @change="onChange">
                    <label v-bind:for="curso.value">{{curso.name}}</label>
                </div>`
        })

        let app = new Vue({
            el: '#app',
            data: {
                firstName: '',
                cursos: [
                    {
                        name: 'Curso Vuejs',
                        value: 'vue'
                    },
                    {
                        name: 'Curso Nodejs',
                        value: 'node'
                    },
                    {
                        name: 'Other Curso',
                        value: 'other'
                    }
                ],
                cursosSeleccionados: []
            },
            methods: {
                submit: function () {
                    console.log('Se ejecuta el metodo')
                    console.log(this.cursosSeleccionados)
                },
                selectCurso: function (curso, checked) {
                    if(checked) {
                        this.cursosSeleccionados.push(curso)
                    } else {
                        let index = this.cursosSeleccionados.indexOf(curso)
                        this.cursosSeleccionados.splice(index, 1)
                    }
                }
            }
        })

    </script>
</body>
</html>