<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Control de Eventos</title>
</head>
<body>
    
    <div id="control">

        <button @click="sumar">Suma 1</button>
        <button @click="restar">Resta 1</button>
    
        Contador en {{contador}}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        let control = new Vue({
            el: '#control',
            data: {
                contador: 0,
            },
            methods: {
                sumar: function () {

                    this.contador = this.contador + 1;

                },
                restar: function () {

                    this.contador = this.contador - 1;

                }
            }
        })

    </script>
</body>
</html>