<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar Elemntos</title>
</head>
<body>
    
    <div id="app">

        <form v-on:submit.prevent="submit">
            <h2>Choose</h2>
            <template v-for="curso in cursos">
                <input v-model="cursosSeleccionados" type="checkbox" v-bind:value="curso.value" v-bind:id="curso.value">
                <label v-bind:for="curso.value">{{curso.name}}</label>
            </template>
            <button type="submit">Send</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        let app = new Vue({
            el: '#app',
            data: {
                firstName: '',
                cursos: [
                    {
                        name: 'Curso Vuejs',
                        value: 'vue'
                    },
                    {
                        name: 'Curso Nodejs',
                        value: 'node'
                    },
                    {
                        name: 'Other Curso',
                        value: 'other'
                    }
                ],
                cursosSeleccionados: []
            },
            methods: {
                submit: function () {
                    console.log('Se ejecuta el metodo');
                    console.log(this.cursosSeleccionados);
                }
            }
        })

    </script>
</body>
</html>