<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Names</title>
</head>
<body>

    <div id="names">

        <input v-model="inputName" v-bind:class="{ active: isActive, 'text-danger': hasError}" placeholder="type Full Name">

        <h4>FIRST NAME</h4>{{firstName}}
        <br>
        <h4>LAST NAME</h4>{{lastName}}
        <br>
        <button v-if="btnVisible" @click="btnSaveName">Save</button>

        <div v-if='listNames'>
            <li> 
                <h2 style='color: brown'>NAMES</h2> 

                {{names}}

            </li> 
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        let names = new Vue({
            el: '#names',
            data: {
                isActive: true,
                hasError: true,
                inputName: '',
                btnVisible: false,
                listNames: true,
                names: ' '
            },
            computed: {
                firstName: {
                    get: function () {

                        if(this.inputName != ''){
                            this.btnVisible = true;
                        } else {
                            this.btnVisible = false;
                        }

                        let namePart = this.inputName.split(' ');

                        return namePart[0];

                    }
                },
                lastName: {
                    get: function () {

                        let namePart = this.inputName.split(' ');
                        
                        return namePart[1];

                    }
                }
            },
            methods: {
                btnSaveName: function () {

                    this.names = this.names + this.inputName + ' - ';
                    this.inputName = '';

                }
            }
        })

    </script>

</body>
</html>