<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions</title>
</head>
<body>
    
    <div id="questionWatchExample">

        <p>
            Ask a yes/no question:
            <input v-model="question" placeholder="Question..">
        </p>

        <p> {{answer}} </p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    
        let questionWatchExample = new Vue({
            el: '#questionWatchExample',
            data: {
                question: '',
                answer: 'I cannot give you an answer until you ask a question..'
            },
            watch: {
                question: function (newQuestion, oldQuestion) {

                    this.answer = 'Waiting for you to stop typing..'
                    this.debouncedGetAnswer()
                }
            },
            created: function () {

                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods: {
                getAnswer: function () {

                    if(this.question.indexOf('?') === -1) {
                        this.answer = 'Questions usually contain an question market'
                        return
                    }
                    this.answer = 'Thinking...'

                    let vm = this

                    axios.get('https://yesno.wtf/api')
                    .then((response) => {
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })                    
                }
            }
        })
    </script>
</body>
</html>