<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reverse</title>
</head>
<body>
<center>
    <div id="dinamicButton">

        <input v-model="inputPhrase" hint="type Text">

        <br>
        <br>

        <div v-show="button">

            <button @clicK="reverseMessage">Reverse Text</button>

        </div>

        <div v-show="!button">

            <button @clicK="goText">Go to Text</button>

        </div>

        <div v-if="divComp">

            <p> Response: "{{computedMessage}}" </p>
            
        </div>

    </div>
</center>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        let dinamicButton = new Vue({
            el: "#dinamicButton",
            data: {
                inputPhrase: '',
                message: 'Mensajero',
                divComp: false,
                button: true
            },
            methods: {
                reverseMessage: function () {

                    this.inputPhrase = this.inputPhrase.split('').reverse().join('');
                    this.button = false;

                },
                goText: function () {

                    this.inputPhrase = this.inputPhrase.split('').reverse().join('');
                    this.button = true;
                    this.divComp = true;

                }
            },
            computed: {
                computedMessage: function () {

                    return Date.now();

                }
            }
        }) 

    </script>

</body>
</html>