<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upper Lower</title>
</head>
<body>
<center>
    <div id="layoutUpper">

        <h1> {{ title | iterTitle }} </h1>

        <input v-model="txtPhrase" placeholder="type message">

        <h3 v-if="showConvert"> {{txtPhrase | iterTitle}} </h3>

    </div>
</center>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">

        new Vue({
            el: '#layoutUpper',
            data: {
                title: 'uper lower',
                txtPhrase: '',
                showConvert: true,
            },
            filters: {
                iterTitle: (title) => {

                parts = title.split(' ');
                title = '';

                parts.forEach(part => {

                    let acumuladorPhrase = '';
                    sizePhrase = part.split('').length;

                    for(let contadorLetra = 0; contadorLetra < sizePhrase; contadorLetra++) {

                        if((contadorLetra%2) == 0) {

                            acumuladorPhrase = acumuladorPhrase + part.charAt(contadorLetra).toUpperCase();

                        } else {

                            acumuladorPhrase = acumuladorPhrase + part.charAt(contadorLetra).toLowerCase();

                        }
                    }
                    
                    title = title + (acumuladorPhrase) + ' ';

                });

                return title;

                }
            }
        })
    
    </script>
    
</body>
</html>